<html>
<body>


<h1>Blog</h1>

<h2>Filter</h2>

<p>
    <a href="./">Reset filters?</a>
</p>

<hr>

{% comment %}
  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
{% endcomment %}    

<pre>
    via
    for choice in filter.form.categories 
        choice
    endfor
</pre>

<p>{{ filter.form.categories.label }}</p>

{% for choice in filter.form.categories %}
    {{ choice }}    
{% endfor %}


<hr>
<pre>
    via {% templatetag openvariable %} filter.form {% templatetag closevariable %}
</pre>

{{ filter.form }}
    
<hr>


<h2>Posts</h2>
<ol>
{% for obj in filter.qs %}
    <li>
        <strong>{{ obj.title }}</strong>
        <br>
        Categories: {{ obj.categories.all|join:', ' }}</li>
{% endfor %}
</ol>


</body>
</html>
